<footer id="footer">
  <div class="container">
    <div class="footer-menu-list">
      <div class="row d-flex flex-wrap justify-content-between">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer-menu">
            <h5 class="widget-title">Ultras</h5>
            <ul class="menu-list list-unstyled">
              <li class="menu-item">
                <a href="about">About us</a>
              </li>
              <li class="menu-item">
                <a href="/legal">Legal</a>
              </li>
              <li class="menu-item">
                <a href="blog">Our Journals</a>
              </li>
              <li class="menu-item">
                <a href="#">Careers</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer-menu">
            <h5 class="widget-title">Customer Service</h5>
            <ul class="menu-list list-unstyled">
              <li class="menu-item">
                <a href="faqs">FAQ</a>
              </li>
              <li class="menu-item">
                <a href="/contacts">Contact Us</a>
              </li>
              <li class="menu-item">
                <a href="/privacy">Privacy Policy</a>
              </li>
              <li class="menu-item">
                <a href="/report-a-bug">Report a Bug</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer-menu">
            <h5 class="widget-title">Contact Us</h5>
            <p>Do you have any questions or suggestions? <a href="#" class="email">info@pennywisesolutions.com</a>
            </p>
            <p>Do you need assistance? Give us a call. <br>
              <strong>+00 000 00 00</strong>
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer-menu">
            <h5 class="widget-title">Reach us</h5>
            <p>PennyWise Solutions Private Limited, First Floor, Solitaire Building, Plot No. 14 & 15, Software Units Layout, Madhapur, Hyderabad - 500081, India.</p>
            <div class="social-links">
              <ul class="d-flex list-unstyled">
                <li>
                  <a href="#">
                    <i class="icon icon-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="icon icon-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="icon icon-youtube-play"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="icon icon-behance-square"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
</footer>
<div id="footer-bottom">
  <div class="container">
    <div class="d-flex align-items-center flex-wrap justify-content-between">
      <div class="footer-img">
        <a href="{{ siteUrl }}">{% include '_components/footer-logo.twig' %}</a>
      </div>
      <div class="copyright">
        <p> © 2023 <a href="#">Pennywise Solutions Private LTD.</a> All rights reserved.</p>
      </div>
    </div>
  </div>
</div>