{% extends "_layouts/base" %}
{% import '_macros/ui.twig' as ui %}
{% block body %}
<div class="getting-started">
  
  {# suggested search #}
  <div class="hero" style="background-image: url('https://ssource.unsplash.com/random'); background-repeat: no-repeat; background-size: 100% auto; background-size: cover; background-position: center;">
		{% include '_layouts/_header.twig' %}
    <main id="billboard" class="overflow-hidden">
      <section class="shoppify-section-banner">
        <div class="container">
          <div class="product-collection">
            <div class="left-content collection-item">
              <div class="products-thumb">
                <img src="assets/images/model.jpg" alt="collection item" class="large-image image-rounded">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 product-entry">
                <div class="categories">Denim collection</div>
                <h3 class="item-title">The casual selection.</h3>
                <p>Vel non viverra ligula odio ornare turpis mauris. Odio aliquam, tincidunt ut vitae elit risus. Tempor egestas condimentum et ac rutrum dui, odio.</p>
                <div class="btn-wrap">
                  <a href="shop.html" class="d-flex align-items-center">shop collection <i class="icon icon-arrow-io"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>        
        </div>
      </section>

      <section id="quotation" class="align-center padding-large">
        <div class="inner-content">
          <h2 class="section-title divider">Quote of the day</h2>
          <blockquote>
            <q>It's true, I don't like the whole cutoff-shorts-and-T-shirt look, but I think you can look fantastic in casual clothes.</q>
            <div class="author-name">- Dr. Seuss</div>
          </blockquote>
        </div>
      </section>

      <hr>
      <section id="latest-blog" class="padding-large">
        <div class="container">
          <div class="section-header d-flex flex-wrap align-items-center justify-content-between">
            <h2 class="section-title">our Journal</h2>
            <div class="btn-wrap align-right">
              <a href="blog.html" class="d-flex align-items-center">Read All Articles <i class="icon icon icon-arrow-io"></i>
              </a>
            </div>
          </div>
          <div class="row d-flex flex-wrap">
            <article class="col-md-4 post-item">
              <div class="image-holder zoom-effect">
                <a href="single-post.html">
                  <img src="assets/images/post-img1.jpg" alt="post" class="post-image">
                </a>
              </div>
              <div class="post-content d-flex">
                <div class="meta-date">
                  <div class="meta-day text-primary">22</div>
                  <div class="meta-month">Aug-2021</div>
                </div>
                <div class="post-header">
                  <h3 class="post-title">
                    <a href="single-post.html">top 10 casual look ideas to dress up your kids</a>
                  </h3>
                  <a href="blog.html" class="blog-categories">Fashion</a>
                </div>
              </div>
            </article>
            <article class="col-md-4 post-item">
              <div class="image-holder zoom-effect">
                <a href="single-post.html">
                  <img src="assets/images/post-img2.jpg" alt="post" class="post-image">
                </a>
              </div>
              <div class="post-content d-flex">
                <div class="meta-date">
                  <div class="meta-day text-primary">25</div>
                  <div class="meta-month">Aug-2021</div>
                </div>
                <div class="post-header">
                  <h3 class="post-title">
                    <a href="single-post.html">Latest trends of wearing street wears supremely</a>
                  </h3>
                  <a href="blog.html" class="blog-categories">Trending</a>
                </div>
              </div>
            </article>
            <article class="col-md-4 post-item">
              <div class="image-holder zoom-effect">
                <a href="single-post.html">
                  <img src="assets/images/post-img3.jpg" alt="post" class="post-image">
                </a>
              </div>
              <div class="post-content d-flex">
                <div class="meta-date">
                  <div class="meta-day text-primary">28</div>
                  <div class="meta-month">Aug-2021</div>
                </div>
                <div class="post-header">
                  <h3 class="post-title">
                    <a href="single-post.html">types of comfortable clothes ideas for women</a>
                  </h3>
                  <a href="blog.html" class="blog-categories">Inspiration</a>
                </div>
              </div>
            </article>
          </div>
        </div>
      </section>

      <section id="brand-collection" class="padding-medium bg-light-grey">
        <div class="container">
          <div class="d-flex flex-wrap justify-content-between">
            <img src="assets/images/brand1.png" alt="phone" class="brand-image">
            <img src="assets/images/brand2.png" alt="phone" class="brand-image">
            <img src="assets/images/brand3.png" alt="phone" class="brand-image">
            <img src="assets/images/brand4.png" alt="phone" class="brand-image">
            <img src="assets/images/brand5.png" alt="phone" class="brand-image">
          </div>
        </div>
      </section>

      <section id="instagram" class="padding-large">
        <div class="container">
          <div class="section-header">
            <h2 class="section-title">Follow our instagram</h2>
          </div>
          <p>Our official Instagram account <a href="#">@ultras</a> or <a href="#">#ultras_clothing</a>
          </p>
          <div class="row d-flex flex-wrap justify-content-between">
            <div class="col-lg-2 col-md-4 col-sm-6">
              <figure class="zoom-effect">
                <img src="assets/images/insta-image1.jpg" alt="instagram" class="insta-image">
                <i class="icon icon-instagram"></i>
              </figure>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
              <figure class="zoom-effect">
                <img src="assets/images/insta-image2.jpg" alt="instagram" class="insta-image">
                <i class="icon icon-instagram"></i>
              </figure>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
              <figure class="zoom-effect">
                <img src="assets/images/insta-image3.jpg" alt="instagram" class="insta-image">
                <i class="icon icon-instagram"></i>
              </figure>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
              <figure class="zoom-effect">
                <img src="assets/images/insta-image4.jpg" alt="instagram" class="insta-image">
                <i class="icon icon-instagram"></i>
              </figure>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
              <figure class="zoom-effect">
                <img src="assets/images/insta-image5.jpg" alt="instagram" class="insta-image">
                <i class="icon icon-instagram"></i>
              </figure>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
              <figure class="zoom-effect">
                <img src="assets/images/insta-image6.jpg" alt="instagram" class="insta-image">
                <i class="icon icon-instagram"></i>
              </figure>
            </div>
          </div>          
        </div>
      </section>
      <section id="subscribe" class="padding-large">
      <div class="container">
        <div class="row">
          <div class="block-text col-md-6">
            <div class="section-header">
              <h2 class="section-title">Get 25% off Discount Coupons</h2>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst amet, metus, sit massa posuere maecenas. At tellus ut nunc amet vel egestas.</p>
          </div>
          <div class="subscribe-content col-md-6">
            <form id="form" class="d-flex justify-content-between">
              <input type="text" name="email" placeholder="Enter your email addresss here">
              <button class="btn btn-dark">Subscribe Now</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    </main>
  </div>
  {% include '_layouts/_footer.twig' %}
{% endblock %}
